/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html{
    background-color:#fff;

}

body{
    font:15px/1.3 Tahoma, Arial, sans-serif;
    color: #4f4f4f;
	margin: 10px;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:Tahoma, 'PT Sans Narrow', sans-serif;
    background-color:#373a3d;



    width:auto;
    padding:30px;
    border-radius:3px;

    margin:0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 20px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

html #upload ul li p {
	left: 100px;
}

html[dir=rtl] #upload ul li p {
	right: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas, #upload ul li img{
    top: 15px;
    position: absolute;
}

#upload ul li img {
	border-radius: 50%;
	width:38px;
	height:38px;
	z-index:2;
	margin: 5px;
	background:#fff;
}

html #upload ul li canvas, html #upload ul li img{
    left: 32px;
}

html[dir=rtl] #upload ul li canvas, html[dir=rtl] #upload ul li img{
    right: 32px;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    cursor:pointer;
}

html #upload ul li span{
    right: 33px;
}

html[dir=rtl] #upload ul li span{
    left: 33px;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

html #upload ul li.error p{
	left:30px;
}

html[dir=rtl] #upload ul li.error p{
	right:30px;
}

#upload ul li.error span{
    height: 16px;
    background-position: 0 -12px;
}

.error i {
	font-size:12px;
}

.error canvas {
	display: none;
}

#upload_cover {
	background:rgba(255,255,255,0.7);
	border: 10px dashed #aaa;
	color:#999;
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right: 0;
	padding-top:100px;
	font-size:50px;
	text-align:center;
	z-index:9999999;
}